<md-list>
  <md-card>
    <md-card-title>Case #1</md-card-title>
    <md-card-subtitle>
      API returns dynamic menu and the app should render it.
    </md-card-subtitle>
    <md-card-actions>
      <a md-button routerLink="case-one">Check It Out</a>
    </md-card-actions>
  </md-card>
</md-list>

<md-list>
  <md-card>
    <md-card-title>Case #2</md-card-title>
    <md-card-subtitle>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </md-card-subtitle>
    <md-card-actions>
      <a md-button routerLink="case-two">Check It Out</a>
    </md-card-actions>
  </md-card>
</md-list>

<md-list>
  <md-card>
    <md-card-title>Case #3</md-card-title>
    <md-card-subtitle>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </md-card-subtitle>
    <md-card-actions>
      <a md-button routerLink="case-three">Check It Out</a>
    </md-card-actions>
  </md-card>
</md-list>
